* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Note: this CSS makes use of the font-size hack to remove inline-block gaps */
header {
  background-color: #B3A68C;
  font-size: 0;
  border-bottom: 3px solid #6d4d41; }

#header-img {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 20px; }

nav {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px; }

nav li {
  display: inline-block;
  font-size: 1rem; }

nav a, #nav-handle {
  display: block;
  padding: 35px 20px;
  color: white;
  font: 1.5rem sans-serif;
  text-decoration: none;
  transition: background-color .3s; }
  nav a:hover, #nav-handle:hover {
    background-color: #6d4d41; }
  nav a:focus, #nav-handle:focus {
    outline: 0; }

#nav-handle {
  cursor: pointer;
  display: none; }

@media only screen and (max-width: 1180px) {
  #header-img {
    display: block;
    padding: 10px;
    margin: 0 auto; }

  nav {
    margin: 0 auto;
    display: block;
    text-align: center; }

  nav a, #nav-handle {
    padding: 15px; } }
@media only screen and (max-width: 590px) {
  nav ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height .75s; }

  .showing {
    max-height: 300px; }

  nav li {
    display: block; }

  nav a {
    width: 100%; }

  #nav-handle {
    display: block; } }
@media only screen and (max-width: 480px) {
  #header-img {
    width: 100%; } }
footer {
  background-color: #E0E0E0;
  text-align: center; }

.logo-container {
  display: inline-block;
  vertical-align: middle;
  padding: 20px; }

.slideshow-button {
  display: none !important;
  vertical-align: middle;
  cursor: pointer;
  color: black; }

@media only screen and (max-width: 580px) {
  #slideshow-items {
    white-space: nowrap;
    transition: transform .5s ease; }

  .logo-container {
    width: 264px;
    height: 144px;
    padding: 0px; }

  .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; }

  #slideshow-window {
    display: inline-block;
    vertical-align: middle;
    width: 264px;
    height: 144px;
    overflow: hidden; }

  #slideshow {
    display: inline-block;
    padding: 10px; }

  .slideshow-button {
    display: inline-block !important; } }
@media only screen and (min-width: 580px) {
  #slideshow-items {
    transform: none !important; } }
.slide-leave-active,
.slide-enter-active {
  transition: 1s; }

.slide-enter {
  transform: translate(100%, 0); }

.slide-leave-to {
  transform: translate(-100%, 0); }

.faq-section {
  padding: 20px;
  font-size: 1.1rem; }
  .faq-section h2 {
    font-size: 2.5rem; }
  .faq-section h3 {
    font-size: 1.5rem;
    margin-top: 15px;
    margin-bottom: 5px; }

body {
  background-color: #DAD0C0;
  font: 1rem sans-serif;
  color: white; }

/* code specific to the homepage banner */
#home-banner {
  background-image: url("../img/homebanner.png");
  max-width: 1280px;
  height: 400px; }

@media only screen and (max-width: 590px) {
  #home-banner {
    background-size: 960px 300px;
    height: 300px; } }
/* reusable code for the banner */
.banner {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.text-center {
  text-align: center; }

.font-size-zero {
  font-size: 0; }

.indent {
  margin-left: 20px; }

section {
  background-color: #B3A68C;
  max-width: 1280px;
  margin: 10px auto; }
  section a {
    color: inherit; }

.col-50 {
  display: inline-block;
  width: 50%;
  font-size: 1rem;
  vertical-align: top; }

.home-section {
  padding: 40px;
  font-size: 1.25rem; }
  .home-section ul {
    margin-left: 20px; }

.well {
  background-color: #595245;
  font-size: 1.1rem;
  padding: 20px;
  border-radius: .25rem;
  line-height: 1.75rem;
  margin-bottom: 20px; }

.slider-container {
  position: relative;
  padding-bottom: 66.6015625%;
  /* ratio of image height to width */
  height: 0;
  overflow: hidden; }

.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.social-icons a {
  display: inline-block;
  width: 80px;
  text-align: center;
  padding: 10px;
  border-radius: .75rem; }
  .social-icons a:focus {
    outline: 0; }

.twitter {
  background-color: #1DA1F2; }

.steam {
  background-color: #171A21; }

.facebook {
  background-color: #3B5998; }

.title {
  color: #6d4d41;
  font-size: 3.5rem;
  text-align: center;
  padding: 20px; }

@media only screen and (max-width: 1024px) {
  .col-50 {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
