body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background: #111;
}
header {
    text-align: center;
    padding: 40px 20px;
}
header img {
    height: 80px;
    width: auto;
}
section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 10%;
    position: relative;
}
.text-content {
    max-width: 50%;
    font-size: 1.2em;
}
.btn {
    display: inline-block;
    padding: 15px 30px;
    background: #1a73e8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    margin-top: 20px;
}
.section-bg {
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
    position: relative;
}
.section-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.section-bg::before {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
}
.section-bg.right::before{
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
}
.section-bg .text-content {
    position: relative;
    z-index: 2;
}
footer {
    text-align: center;
    padding: 30px;
    background: #222;
    font-size: 1.1em;
}
.right {
    text-align: right;
    justify-content: flex-end;
}
@media (max-width: 768px) {
    .text-content {
        max-width: 100%;
    }
    .right {
        text-align: left;
        justify-content: flex-start;
    }
}

div.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.registration {
    max-width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

div.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

section.sponsors {
    padding: 20px 10%;
    margin: 0;
}

div.sponsors h4 {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

div.sponsors div.sponsor {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: fit-content;
}

div.sponsors div.sponsor img {
    height: 70px;
    width: auto;
    object-fit: contain;
}

img.whitebg {
    margin-top: -0.5rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
