@import 'partials/global';
@import 'partials/vars';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/transitions';
@import 'partials/faq';
@import 'partials/register';
@import 'partials/forms';
@import 'partials/campers';
@import 'partials/mentors';

/*html {
  height: 100%;
}*/

body {
  background-color: $background-color;
  font: $font;
  color: $color;
  min-height: 100vh;
}

#ie-flex-fix-container {
  display: flex;
  flex-direction: row;
}

#flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  flex: 1;
}

.content {
  flex: 1 0 auto;
}

/* code specific to the homepage banner */
#home-banner {
  background-image: url('../img/homebanner.png');
  max-width: 1280px;
  height: 400px;
}

@media only screen and (max-width: 640px) {
  #home-banner {
    background-size: 960px 300px;
    height: 300px;
  }
}

@media only screen and (max-width: 475px) {
  #home-banner {
    background-size: 640px 200px;
    height: 200px;
  }
}

/* reusable code for the banner */
.banner {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.text-center {
  text-align: center;
}

.font-size-zero {
  font-size: 0;
}

.indent {
  margin-left: 20px;
}

section {
  background-color: $section-background-color;
  max-width: 1280px;
  margin: 0px auto;

  a {
    color: inherit;
  }
}

.col-50 {
  display: inline-block;
  width: 50%;
  font-size: 1rem;
  vertical-align: top;
}

.home-section {
  padding: 40px;
  font-size: 1.25rem;

  ul {
    margin-left: 20px;
  }
}

.well {
  background-color: $well-background-color;
  font-size: 1.1rem;
  padding: 20px;
  border-radius: .25rem;
  line-height: 1.75rem;
  margin-bottom: 20px;
}

.slider-container {
  position: relative;
  padding-bottom: 66.6015625%; /* ratio of image height to width */
  height: 0;
  overflow: hidden;
}

.slider-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.social-icons a {
  display: inline-block;
  width: 80px;
  text-align: center;
  padding: 10px;
  border-radius: .75rem;

  &:focus {
    outline: 0;
  }
}

.twitter {
  background-color: #1DA1F2;
}

.steam {
  background-color: #171A21;
}

.facebook {
  background-color: #3B5998;
}

.title {
  color: $title-color;
  font-size: 3.5rem;
  text-align: center;
  padding: 20px;
}

@media only screen and (max-width: 1024px) {
  .col-50 {
    width: 100%;
  }
}
