$background-color: #DAD0C0;
$font: 1rem sans-serif;
$color: white;
$header-background-color: #B3A68C;
$nav-link-color: white;
$nav-link-font: 1.5rem sans-serif;
$nav-link-hover-background-color: #6d4d41;
$section-background-color: $header-background-color;
$well-background-color: #595245;
$title-color: $nav-link-hover-background-color;
$footer-background-color: #E0E0E0;
