/* Note: this CSS makes use of the font-size hack to remove inline-block gaps */
header {
  background-color: $header-background-color;
  font-size: 0;
  //border-bottom: 3px solid $nav-link-hover-background-color;
}

#header-img {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 20px;
}

nav {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
}

nav li {
  display: inline-block;
  font-size: 1rem;
}

nav a, #nav-handle {
  display: block;
  padding: 35px 20px;
  color: $nav-link-color;
  font: $nav-link-font;
  text-decoration: none;
  transition: background-color .3s;

  &:hover {
    background-color: $nav-link-hover-background-color;
  }

  &:focus {
    outline: 0;
  }
}

#nav-handle {
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 1180px) {
  #header-img {
    display: block;
    padding: 10px;
    margin: 0 auto;
  }

  nav {
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  nav a, #nav-handle {
    padding: 15px;
  }
}

@media only screen and (max-width: 590px) {
  nav ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height .75s;
  }
  .showing {
    // Bit of a hack to get the animation working.
    max-height: 300px;
  }
  nav li {
    display: block;
  }

  nav a {
    width: 100%;
  }

  #nav-handle {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  #header-img {
    width: 100%;
  }
}
