$background-color: #0F0C09;
$font: 1rem sans-serif;
$color: white;
$header-background-color: #47392A;
$nav-link-color: white;
$nav-link-font: 1.5rem sans-serif;
$nav-link-hover-background-color: #FFCD9C;
$section-background-color: $header-background-color;
$well-background-color: #333;
$title-color: $nav-link-hover-background-color;
$footer-background-color: #E0E0E0;
